<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.dissonant.quotas"
        android:versionCode="1"
        android:versionName="1.0" >

    <uses-sdk
            android:minSdkVersion="L"
            android:targetSdkVersion="21" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/QuotasTheme" >

        <!-- MainActivity -->
        <activity
                android:name="com.dissonant.quotas.MainActivity"
                android:label="@string/app_name"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SettingsActivity -->
        <activity
                android:name="com.dissonant.quotas.settings.SettingsActivity"
                android:label="@string/settings_label"
                android:parentActivityName="com.dissonant.quotas.MainActivity"
                android:theme="@style/QuotasSettingsTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dissonant.quotas.MainActivity"
                />
        </activity>

        <!-- EditActivity -->
        <activity
                android:name="com.dissonant.quotas.EditActivity"
                android:label="@string/edit_label"
                android:parentActivityName="com.dissonant.quotas.MainActivity"
                android:theme="@style/QuotasEditTheme"
                >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.dissonant.quotas.MainActivity"
                />
        </activity>

    </application>
</manifest>
